:root {
  --taxiing: rgb(250, 164, 43);
  --scheduled: rgb(43, 206, 251);
  --on-time: rgb(43, 251, 43);
  --delayed: rgb(247, 251, 43);
  --cancelled: rgb(251, 43, 43);
  --landed-arrived: rgb(71, 43, 251);
}

#progress {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 25px;
}

#progress-bar {
  color: white;
  width: 50%;
  align-self: center;
  background-color: gray;
  height: 0.25em;
}

#progress-bar > span {
  position: relative;
  display: flex;
  align-self: center;
  background-color: greenyellow;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  height: 0.25em;
}

.flight-ticket {
  background-color: rgba(1, 1, 1, 0.4);
  margin: 25px auto;
  padding-bottom: 10px;
  max-width: 768px;
}

.flight-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: white;
}

.flight-status h3 {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 80%;
  font-size: 1.2em;
  font-weight: 500;
}

.flight-status.taxiing {
  background-color: var(--taxiing);
  color: black;
}

.flight-status.taxiing.delayed {
  background-color: var(--taxiing);
  background-image: linear-gradient(
    130deg,
    var(--taxiing) 70%,
    var(--delayed) 30%
  );
}

.flight-status.delayed {
  background-color: var(--delayed);
  color: black;
}

.flight-status.scheduled {
  background-color: var(--scheduled);
  color: black;
}
.flight-status.scheduled.delayed {
  background-color: var(--scheduled);
  background-image: linear-gradient(
    130deg,
    var(--scheduled) 70%,
    var(--delayed) 30%
  );
  color: black;
}
.flight-status.enroute.on-time {
  background-color: var(--on-time);
  color: black;
}
.flight-status.enroute.delayed {
  background-color: var(--on-time);
  background-image: linear-gradient(
    130deg,
    var(--on-time) 70%,
    var(--delayed) 30%
  );
  color: black;
}
.flight-status.arrived {
  background-color: rgb(71, 43, 251);
  color: white;
}
.flight-status.arrived.delayed {
  background-color: var(--landed-arrived);
  background-image: linear-gradient(
    130deg,
    var(--landed-arrived) 70%,
    var(--delayed) 30%
  );
  color: white;
}
.flight-status.cancelled {
  background-color: rgb(251, 43, 43);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #dff;
  filter: blur(50%);
  margin: 25px 10px;
  border-radius: 5px;
}

.card > h3 {
  text-decoration: underline;
}

.iata-code {
  margin: 1rem 0;
  font-size: 26px;
}

/* Cards */

.flight-times {
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
}

.flight-times span {
  font-weight: 500;
}

.flight-times h3 {
  font-weight: 300;
}

.terminal-info {
  display: flex;
  outline: none;
  justify-content: space-around;
  border-top: 1px solid black;
  margin: 10px 0;
}

.terminal-info h3 {
  font-weight: 300;
}

.terminal-info span {
  font-weight: 600;
}
