.flight-ticket {
  background-color: rgba(1, 1, 1, 0.4);
  margin-top: 25px;
  padding-bottom: 10px;
}

.flight-status {
  padding: 16px;
  color: white;
}

.flight-status.scheduled {
  background-color: rgb(43, 206, 251);
  color: black;
}
.flight-status.on-time {
  background-color: rgb(43, 251, 43);
  color: black;
}
.flight-status.delayed {
  background-color: rgb(247, 251, 43);
  color: black;
}
.flight-status.arrived {
  background-color: rgb(71, 43, 251);
  color: white;
}
.flight-status.cancelled {
  background-color: rgb(251, 43, 43);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #dff;
  filter: blur(50%);
  margin: 25px 10px;
  border-radius: 5px;
}

.card > h3 {
  text-decoration: underline;
}

.iata-code {
  margin: 1rem 0;
  font-size: 26px;
}

/* Cards */

.flight-times {
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
}

.flight-times span {
  font-weight: 500;
}

.flight-times h3 {
  font-weight: 300;
}

.terminal-info {
  display: flex;
  outline: none;
  justify-content: space-around;
  border-top: 1px solid black;
  margin: 10px 0;
}

.terminal-info h3 {
  font-weight: 300;
}

.terminal-info span {
  font-weight: 600;
}
