.card {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin: 25px 10px;
  border-radius: 5px;
}

.card > h3 {
  text-decoration: underline;
}

.iata-code {
  margin: 1rem 0;
  font-size: 26px;
}

/* Cards */

.flight-times {
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
}

.flight-times span {
  font-weight: 500;
}

.flight-times h3 {
  font-weight: 300;
}

.terminal-info {
  display: flex;
  outline: none;
  justify-content: space-around;
  border-top: 1px solid black;
  margin: 10px 0;
}

.terminal-info h3 {
  font-weight: 300;
}

.terminal-info span {
  font-weight: 600;
}
